<web-app>
  <servlet>
    <display-name>TimeCard Service</display-name>
    <servlet-name>Server.ApplicationConfig</servlet-name>
    <init-params>
      <param-name>javax.ws.rs.ApplicationConfig</param-name>
      <param-value>Server.ApplicationConfig</param-value>
    </init-params>
  </servlet>
</web-app>
