<web-app>
    <servlet>
        <display-name>Service</display-name>
        <servlet-name>Server.ApplicationConfig</servlet-name>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>Server.ApplicationConfig</param-value>
        </init-param>
    </servlet>
</web-app>
